html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}
/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: 0px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 200px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 40px; /* On mouse-over, make the elements appear as they should */
  color: #818181;
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color:#111;
}

#qualifications {
  top: 80px;
  background-color: #111; 
}
#projects {
  top: 140px;
  background-color:#111; /* Red */
}

#contact {
  top: 200px;
  background-color: #111 /* Light Black */
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.tittles{
  font-family: 'Spectral', serif;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  text-align: center;
  font-size: 100px;
}
/* about me div */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: #f1f1f1;
  background-color: #111;
}
.image-cropper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -13%;
  height: 150%;
  width: 125%;
}
.about{
  font-family: 'Spectral', serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
/* qualifications div */
.qualifications {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: #f1f1f1;
  background-color: #111;
}
.quali{
  font-family: 'Spectral', serif;
  font-size: 20px;
  font-weight: 300;
}
.bulletDescription{
  color: #818181;
  font-style: italic;
}
/* projects div */
.project-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}
.projects {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: rgb(255, 255, 255);
  background-color: #111;

}
/* contact div */
.icons{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

@media all and (max-width: 600px) {
  .sidenav {
    padding-top: 15px; 
  width: 18%;}
  #mySidenav a {
    font-size: 12px;
  }
  .all{
    margin-left: -60px;
    width: 150%;
    overflow: hidden;
    background-color: #111;
  }
  .tittles{
    font-family: 'Spectral', serif;
    font-weight: 600;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 32px;
  }
  .quali{
    font-family: 'Spectral', serif;
    font-size: 16px;
    font-weight: 300;
  }
  .about{
    font-family: 'Spectral', serif;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
  body{
    background-color: #111;
  }
  .contact{
    background-color: #f1f1f1;
  }
}